@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* .vjs_video_3-dimensions.vjs-fluid:not(.vjs-audio-only-mode) {
  padding: 0 !important; /* Use !important to override existing styles */
/* } */

/* .video-js .vjs-play-control {
  background-color: #ff5733; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.video-js .vjs-volume-panel {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 5px;
}

.video-js .vjs-volume-control {
  background-color: #ff5733; 
}

.video-js .vjs-fullscreen-control {
  background-color: #28a745; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.video-js .vjs-next-control,
.video-js .vjs-prev-control {
  background-color: #007bff; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.video-js .vjs-control-bar {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
} */

